#map-container {
	border:1px solid #d0d0d0;
	border-radius: 3px;
	margin: auto;
}

.land {
  fill: none;
  stroke: #ddd;
  stroke-width: 0.03em;
}

.land-fill {
  fill: #ccc;
  stroke: #999;
}

.map {
  fill: none;
  stroke: #fff;
  stroke-width: 0.03em;
  stroke-linejoin: round;
}

#tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
  width: 150px;
  font-size: 12px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  pointer-events: none;
}

#tooltip strong{
  font-size: 16px;
}

#tooltip span{
  color: #999;
}

.state-boundary {
  fill: none;
  stroke: #999;
}

text{
	fill: none;
	stroke: #666;
    font-size: 12px;
}

circle{
  fill: none;
  stroke: #999;
}
circle.gain{
  fill: #67a9cf;
  stroke: #fff;
}
circle.loss{
  fill: #ef8a62;
  stroke: #fff;
}
#map circle{
  opacity: .65;
}
#map circle:hover{
  stroke: black;
  stroke-width: 2;
}

#date, #play, #slider-container{
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}

#date{
  border-left: 5px solid #ccc;
  padding: 3px 0 3px 10px;
  margin-left: 60px;
  color: #333;
}
#date p{
  margin: 0;
}
#date p:first-child{
  color: #999;
  font-size: 11px;
  line-height: 13px;
}
#date p#month{
  font-size: 30px;
  line-height: 30px;
}
#date p#month span{
  float: left;
  width: 2.55em;
}

#play{
  width: 53px;
  height: 53px;
  background-image: url(../images/play.png);
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
}

#play:hover{
  background-position: 0 -53px;
}

#play.pause{
  background-image: url(../images/pause.png);
}
#slider-container{
  position: relative;
}

#slider-div{
  margin-left: 65px;
  margin-top: 10px;
}

#slider-probe{
  position: absolute;
  top: -20px;
  font-size: 12px;
  width: 70px;
  margin-left: -35px;
  z-index: 50;
  display: none;
}

#slider-probe p{
  margin: 0;
  width: 100%;
  text-align: center;
  height: 15px;
}

#slider-probe div{
  height: 15px;
  margin-left: 35px;
  border-left: 1px solid #999;
}

#axis path{
  fill: none;
}

#axis .tick line{
  stroke: #999;
}

#axis .tick text{
  font-size: 12px;
}
